<html xmlns:th="https://www.thymeleaf.org">
<body>

<!--<div th:if="${message}">-->
<!--    <h2 th:text="${message}"/>-->
<!--</div>-->

<!--<div>-->
<!--    <form method="POST" enctype="multipart/form-data" action="/">-->
<!--        <table>-->
<!--            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>-->
<!--            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>-->
<!--        </table>-->
<!--    </form>-->
<!--</div>-->

<!--<form th:action="@{/}"-->
<!--      th:object="${user}" method="post"-->
<!--      enctype="multipart/form-data"-->
<!--&gt;-->
<!--    ...-->
<!--    <div>-->

<!--        <label>Photos: </label>-->
<!--        <input type="file" name="file" accept="image/png, image/jpeg" />-->

<!--    </div>-->
<!--    <br>-->
<!--    <input type="submit" value="Upload">-->
<!--</form>-->

<!--<div>-->
<!--    <ul>-->
<!--        </li>-->
<!--        <li th:each="file : ${files}">-->
<!--            <a th:href="${file}" th:text="${file}" />-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<form th:action="@{/}" method="post" th:object="${user}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nameInput">Name: </label>
        <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" th:field="*{name}">
    </div>
    <div class="form-group">
        <label for="emailInput">Email: </label>
        <input type="text" class="form-control" id="emailInput" aria-describedby="emailHelp" th:field="*{email}">
    </div>
    <div>

        <label>Photos: </label>
        <input type="file" name="file" accept="image/png, image/jpeg"/>

    </div>
<!--    <button type="submit" class="btn btn-primary">Submit</button>-->
    <input type="submit" value="Upload"/>
</form>
<!--<img th:src="@{../WN logo.png}"/>-->

</body>
</html>